/* MENU */
*{
  margin:0px;
  padding:0px;
  font-family: Roboto;
}

.img-izq {
  position: absolute;
  left: 1.54%;
  right: 93.48%;
  width: 65px;
  top: -44px;
}

.lateralmenu {
  position: absolute;
  width: 100%;
  display: block;
  margin-top: 1rem;
  justify-items: start; 
  align-items: stretch; 
  transform: rotate(360deg);
}
  
.button1 {
  position: absolute;
  width: 340px;
  height: 80px;
  left: -125px;
  top: 163px;
  background: #022939;
  transform: rotate(-90deg);
  color: #FFFFFF;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}
  
.button2 {
  position: absolute;
  width: 340px;
  height: 80px;
  left: -125px;
  top: 497px;
  background: #C4C4C4;
  transform: rotate(-90deg);
  color: #022939;

  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
}
  