.contenedorDeEnsaladas{
    position: absolute;
    width: 167px;
    height: 198px;
    left: 505px;
    top: 52px;
    background: #C4C4C4;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    /*border-spacing: 21px; */
}

.TituloCarta {
    position: absolute;
    width: 144px;
    height: 20px;
    left: 228px;
    top: -31px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #022939;
}
.btnMenuTitulo{
    width: 164px;
    height: 50px;
    top: 15px;
    background: #022939;
    border-radius: 10px;
    /* Gray 1 */
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: flex-start;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
/* identical to box height */
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.btnDetalleMenu{
     width: 164px;
     height: 30px;
     left: 138px,323px;
     top: 162px;
    background: #D6EDFE;
  /* Gray 1 */
     border: 1px solid #333333;
     box-sizing: border-box;
     border-radius: 10px;
     font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
     color: #000000;
 }
