.ContenedorDePedido{
    position: absolute;
    width: 327px;
    height: 702px;
    left: 705px;
    top: 32px;

    /*background: #FFFFFF;*/
    border-radius: 10px;
        

}

.TituloPedido{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    
    color: #022939;
    
}
.TituloProductos{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #022939;
}
h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #022939;
}

.nombreCiente{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #022939;
    background: #FFFFFF;
    border: 1px solid #022939;
    box-sizing: border-box;
    border-radius: 6px;
}

.buttonPedido{
    /*position: absolute;*/
    width: 285px;
    height: 47px;
    left: 763px;
    top: 654px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: #022939;
    border-radius: 10px;
}